.login{
    height: 100vh;
    background-image: linear-gradient(#0000007e, #0000007e), url('assets/background_banner.jpg');
    padding: 20px 8%;
}
.login-logo{
    width: 100px ;
}
.login-form{
    width: 100%;
    max-width: 450px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 60px;
    margin: auto;
    height:100% ;
}
.login-form h1{
    font-size: 30px ;
    margin-bottom: 20px ;
}
.login-form input{
    width: 100% ;
    height: 55px ;
    margin-bottom: 18px ;
    background: transparent ;
    border-radius: 5px ;
    border: 1px solid #CCC ;  
    color: white ;
    outline: none ;
    padding-left: 10px;
}
.login-form button{
    width: 100% ;
    background-color: red;
    color: white ;
    border-radius: 4px;
    border: none ;
    height: 40px;
    font-size: 16px;
    margin-bottom: 25px;
    cursor: pointer ;
}
.form-help p{
    color: #fff;
    text-align: center;
    margin-bottom:15px ;
}
.form-help a{
    color:#CCC ;
    text-decoration: none ;
}
.form-help a:hover{
    text-decoration: underline;
}
.remember{
    display: flex;
    align-items: center;
}
.remember label{
    color: #fff ;
    margin-left: 10px ;
    margin-bottom: 17px ;
}
.remember input[type=checkbox] {
    background: transparent;
    border: 1px solid #CCC ;
  }
.remember input[type="checkbox"]{
    width: 18.4px ;
    background-color: transparent;
    cursor: pointer;
    color: black;
}
.signup-advice {
    display: flex;
    text-align: left;
    margin-bottom: 20px;
}
.signup-advice a{
    text-decoration: none ;
    color: #fff;
}
.signup-advice a:hover{
    color: #ccc ;
    text-decoration: underline;
}
.extra-info p{
font-size: 12px;
text-align: left;
width: 20rem ;
font-weight: 100;
}
.extra-info a{
    color: blue;
    text-decoration: none;
}
.extra-info a:hover{
    text-decoration: underline ;
}
.login-spinner{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-spinner img{
    width: 100px ;
}
@media(max-width){
    .login{
        padding: 15px 5%;
    }
    .login-form{
        padding: 20px;
        margin-top: 30px;
    }
}